<h2>投稿編集</h2>
<%= form_with model: @book do |f| %>
  <label for="inputTitle">Title</label>
  <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"名前"%>
  <label for="inputOpinion">Opinion</label>
  <%= f.text_field :body, autofocus: true, id:"inputOpinion", placeholder:"名前"%>
  <%= f.submit "変更を保存" %>
<% end %>